# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# CMake specific files
build
install

# vs-build specific folders and files
vs-build/*

# ide and system specific directories and files
.DS_Store
.vscode

# mbdyn and kitefast output
*.act
*.frc
*.ine
*.jnt
*.log
*.mov
*.out
*.sum

